@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
:root {
  /* dark on light */
  /* --bkgnd: #fffff5; */
  /* --context: #39CCEE; */
  /* -------------- */
  /* light on dark */
  --text-white: floralwhite;
  --white: white;
  --context: #af5c13;
  --black: black;
  --bkgnd-darkblue: #00182f;
  /* possible clrs.cc blues #0074D9 lighter #7FDBFF teal #39CCCC */
  /* very dark blue: #00182f */
}
/* font-face not (yet) working in Observable Framework, July 2024 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#observablehq-main {
  margin-top: 0;
}

body {
  margin-top: 0;
  cursor: none;
}

#frame {
  position: relative;
  padding: 2vw 5vw;
  height: 45vw;
  margin: none;
  background-color: var(--black);
  font-family: "Source Serif 4", serif;
  font-size: 2.5vw;
  font-variant-ligatures: no-common-ligatures;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wght" 300,
    "wdth" 100,
    "YTLC" 500;
  line-height: 1.8;
}
#display {
  position: absolute;
  color: var(--text-white);
  margin: none;
  top: 7vw;
  left: 30vw;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  -ms-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -webkit-transition: opacity 2.5s ease-in-out;
}

img {
  position: absolute;
  border: none;
  /* top: -2.2vw;
  left: -2.5vw; */
  /* height: 100%; */
  width: 25vw;
}

img.zi {
  filter: invert(1);
}

#byline {
  color: var(--text-white);
  background-color: var(--black);
  font-size: 1.6vw;
  line-height: 1.1;
  margin: none;
  padding-top: 0;
  padding-bottom: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

#byline:hover {
  opacity: 1;
}

#byline a {
  color: var(--text-white);
  text-decoration: none;
  overflow: hidden;
}

#byline a:hover {
  color: lightgray;
}

/* Clear floats after the columns */
#byline:after {
  content: "";
  display: table;
  clear: both;
}

#display em {
  font-style: normal;
  /* font-weight: bold; */
  /* darkred is good for debugging with orange */
  transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -o-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -ms-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -moz-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -webkit-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
}

#display em.visible {
  font-style: normal;
  /* font-weight: bold; */
  color: var(--white);
  /* darkred is good for debugging with orange */
}

span {
  transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -o-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -ms-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -moz-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
  -webkit-transition: color .7s ease-in-out,
    text-shadow .7s ease-in-out;
 }

 .clmleft {
  float: left;
  text-align: left;
  width: 30%;
}

.clmright {
  float: right;
  text-align: right;
  width: 70%;
}

.fade {
  cursor: pointer;
}

.fade:hover {
  color: var(--context);
}

.none {
  display: none;
}

.visible {
  color: var(--text-white);
  /* text-shadow: .6ch .2ch .7ch var(--white); */
}

.char {
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
  -o-transition: opacity 1.3s ease-in-out;
  -ms-transition: opacity 1.3s ease-in-out;
  -moz-transition: opacity 1.3s ease-in-out;
  -webkit-transition: opacity 1.3s ease-in-out;
}

.char.visible {
  opacity: 1;
}

.spel {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
}

.spel.visible {
  opacity: 1;
}